<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head',{title: "Admin"}) %>
  <body>
    <% include partials/header %>
    <main class="admin">
      <h1>CARGA DE PRODUCTO</h1>
      <div class="caja1">
        <form action="" method="POST">
         <div class="box-form">
             <label for="nombre">Nombre</label>
             <input type="text" name="nombre" id="nombre" class="form-control" value="<%= productos.Nombre %>">
             </div>
             <div class="box-form">
                 <h5>Marca</h5>
                 <select name="marca" id="marca" class="form-select">
                  <option value="" selected hidden>Seleccione la Marca</option>
                     <% marcas.forEach(marca => { %>
                         <option value="<%= marca %>" <%= productos.marca === marca ? 'selected' : null %> ><%= marca %> </option>
                     <% }) %>
                 </select>
                 <span class="text-danger small"></span>
               </div>
         <div class="box-form">
             <label for="nombre">Descripcion</label>
             <textarea name="descripcion" id="descripcion" cols="30" rows="3" class="form-control"><%= productos.Descripcion %></textarea>
             <span class="text-danger small"></span>
     
         </div>
         <div class="box-form">
             <label for="precio">Precio</label>
             <input type="number" name="precio" id="precio" class="form-control" value=<%= productos.Precio %> >
             <span class="text-danger small"></span>
     </div>
     <div class="box-form">
         <label for="stock">Stock</label>
         <input type="number" name="stock" id="stock" class="form-control" value=<%= productos.Stock %>>
         <span class="text-danger small"></span>
       </div>
       <div class="box-form">
         <h5>Categoría</h5>
         <select name="categoria" id="categoria" class="form-select">
          <option value="" selected hidden>Seleccione la Categoria</option>
             <% categorias.forEach(categoria => { %>
                 <option value="<%= categoria %>" <%= productos.categoria === categoria ? 'selected' : null %> ><%= categoria %> </option>
             <% }) %>
         </select>
         <span class="text-danger small"></span>
       </div>
     
     <div class="box-form">
         <label for="secciones">Secciones</label>
         <select name="secciones" id="secciones" class="form-select">
           <option value="" selected hidden>Seleccione la Seccion</option>
           <% secciones.forEach(seccion => { %>
             <option value="<%= seccion %>" <%= productos.seccion === seccion ? 'selected' : null %> ><%= seccion %> </option>
         <% }) %>
         </select>
         <span class="text-danger small"></span>
       </div>
     
         <div class="box-form">
             <label for="imagen" class="btn btn-primary">Subir imagen</label>
             <input type="file" name="imagen" id="imagen" hidden accept="image/*">
         </div>
        

        <div class="box-button">
          <button type="submit">Agregar</button>
        </div>
      </form>
      </div>
    </main>
    <% include partials/footer %>
  </body>
</html>
