<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: "Admin"}) %> 
<body>
    <% include partials/header %> 
    <main class="admin">
        <h1>EDITAR PRODUCTOS</h1>
        <div class="caja1">
   <form action="/products/edit/<%= producto.id %>?_method=PUT" method="post" enctype="multipart/form-data">
    <div class="box-form">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" class="form-control" value="<%= producto.Nombre %>">
        </div>
        <span class="text-danger small"><%= locals.errores && errores.nombre ? errores.nombre.msg : null %></span>
        <div class="box-form">
            <h5>Marca</h5>
            <select name="marca" id="marca" class="form-select">
                <option value="" selected hidden>Seleccione la Marca</option>
                <% marcas.forEach(marca => { %>
                    <option value="<%= marca %>" <%= producto.Marca === marca ? 'selected' : null %> ><%= marca %> </option>
                <% }) %>
            </select>
            <span class="text-danger small"><%= locals.errores && errores.marca ? errores.marca.msg : null %></span>
          </div>
    <div class="box-form">
        <label for="nombre">Descripcion</label>
        <textarea name="descripcion" id="descripcion" cols="30" rows="3" class="form-control"><%= producto.Descripcion %></textarea>
        <span class="text-danger small"><%= locals.errores && errores.descripcion ? errores.descripcion.msg : null %></span>

    </div>
    <div class="box-form">
        <label for="precio">Precio</label>
        <input type="number" name="precio" id="precio" class="form-control" value=<%= producto.Precio %> >
        <span class="text-danger small"><%= locals.errores && errores.precio ? errores.precio.msg : null %></span>
</div>
<div class="box-form">
    <label for="stock">Stock</label>
    <input type="number" name="stock" id="stock" class="form-control" value=<%= producto.Stock %>>
    <span class="text-danger small"><%= locals.errores && errores.stock ? errores.stock.msg : null %></span>
  </div>
  <div class="box-form">
    <h5>Categoría</h5>
    <select name="categoria" id="categoria" class="form-select">
        <option value="" selected hidden>Seleccione la Categoria</option>
        <% categorias.forEach(categoria => { %>
            <option value="<%= categoria %>" <%= producto.Categoria === categoria ? 'selected' : null %> ><%= categoria %> </option>
        <% }) %>
    </select>
    <span class="text-danger small"><%= locals.errores && errores.categoria ? errores.categoria.msg : null %></span>
  </div>

<div class="box-form">
    <label for="seccion">Secciones</label>
    <select name="seccion" id="seccion" class="form-select">
      <option value="" selected hidden>Seleccione la Seccion</option>
      <% secciones.forEach(seccion => { %>
        <option value="<%= seccion %>" <%= producto.Seccion === seccion ? 'selected' : null %> ><%= seccion %> </option>
    <% }) %>
    </select>
    <span class="text-danger small"><%= locals.errores && errores.seccion ? errores.seccion.msg : null %></span>
  </div>

    <div class="box-form">
        <label for="imagen" class="btn btn-primary">Subir imagen</label>
        <input type="file" name="imagen" id="imagen" hidden accept="image/*">
    </div>
    <span class="text-danger small"><%= locals.errores && errores.imagen ? errores.imagen.msg : null %></span>


    <div class="box-button">
            <button type="submit">Guardar</button>
    </div>
</form>
</div>
    </main>
    <% include partials/footer %> 
</body>
</html>
