<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title: "Admin" }) %>

  <body style="background-color: var(--color-gris);">
    <%- include('./partials/header') %>
      <main class="container mt-5">
        <div class="row">
          <div class="col-12 col-md-10 mx-auto">
            <div class="card">
              <div class="card-header">
                <h5>Carga de producto</h5>
              </div>
              <div class="card-body">
                <form action="" method="POST" enctype="multipart/form-data" id="form-add-product">
                  <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                      <div class="row">
                          <div class="col-12">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" id="nombre"
                              class="form-control <%= locals.errores && errores.nombre ? 'is-invalid' : null %>"
                              value="<%= locals.old && old.nombre ? old.nombre : null %>" />
                            <span class="text-danger" id="nameError">
                              <%= locals.errores && errores.nombre ? errores.nombre.msg : null %>
                            </span>
                          </div>
                        <div class="col-12">
                          <label for="descripcion">Descripcion</label>
                          <textarea name="descripcion" id="" cols="30" rows="3"
                            class="form-control <%= locals.errores && errores.descripcion ? 'is-invalid' : null %>" style="resize: none;"><%= locals.old && old.descripcion ? old.descripcion : null %></textarea>
                          <span class="text-danger" id="descriptionError">
                            <%= locals.errores && errores.descripcion ? errores.descripcion.msg : null %>
                          </span>
                        </div>
                       
                      </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3" >
                      <figure class="mx-auto w-50">
                        <img class="img-fluid" src="" alt="" id="preview">

                      </figure>
                    </div>

                  <div class="col-12 col-md-6 mb-3">
                    <label for="precio">Precio</label>
                    <input type="number" name="precio" id="precio"
                      class="form-control <%= locals.errores && errores.precio ? 'is-invalid' : null %>"
                      value="<%= locals.old && old.precio ? old.precio : null %>" />
                    <span class="text-danger" id="priceError">
                      <%= locals.errores && errores.precio ? errores.precio.msg : null %>
                    </span>
                  </div>


                  <div class="col-12 col-md-6 mb-3">
                    <label for="stock">Stock</label>
                    <input type="number" name="stock" id="stock"
                      class="form-control <%= locals.errores && errores.stock ? 'is-invalid' : null %>"
                      value="<%= locals.old && old.stock ? old.stock : null %>" />
                    <span class="text-danger" id="stockError">
                      <%= locals.errores && errores.stock ? errores.stock.msg : null %>
                    </span>
                  </div>

                  <div class="col-12 col-md-6 mb-3">
                    <label>Categoría</label>
                    <select name="categoria" id="categoria"
                      class="form-select <%= locals.errores && errores.categoria ? 'is-invalid' : null %>">
                      <option value="" selected hidden>Seleccione la categoría</option>
                      <% categorias.forEach(categoria=> { %>
                        <option <%=locals.old && old.categoria  ? 'selected' : null %> value="<%= categoria.id%>"><%=
                              categoria.nombre%>
                        </option>
                        <% }) %>
                    </select>
                    <span class="text-danger" id="categoryError">
                      <%= locals.errores && errores.categoria ? errores.categoria.msg : null %>
                    </span>
                  </div>

                  <div class="col-12 col-md-6 mb-3">
                    <label>Marcas</label>
                    <select name="marca" id="marca"
                      class="form-select <%= locals.errores && errores.marca ? 'is-invalid' : null %>">
                      <option value="" selected hidden>Seleccione la marca</option>
                      <% marcas.forEach(marca=> { %>
                        <option <%=locals.old && old.marca ? 'selected' : null %> value="<%= marca.id%>"><%= marca.nombre%>
                        </option>
                        <% }) %>
                    </select>
                    <span class="text-danger" id="brandError">
                      <%= locals.errores && errores.marca ? errores.marca.msg : null %>
                    </span>
                  </div>

                  <div class="col-12 col-md-6 mb-3">
                    <label>Sección</label>
                    <select name="seccion" id="seccion"
                      class="form-select <%= locals.errores && errores.seccion ? 'is-invalid' : null %>">
                      <option value="" selected hidden>Seleccione la sección</option>
                      <% secciones.forEach(seccion=> { %>
                        <option <%=locals.old && old.seccion ? 'selected' : null %> value="<%= seccion.id%>"><%= seccion.nombre%>
                        </option>
                        <% }) %>
                    </select>
                    <span class="text-danger" id="sectionError">
                      <%= locals.errores && errores.seccion ? errores.seccion.msg : null %>
                    </span>
                  </div>

                  <div class="col-12 col-md-6 mb-3 mt-4 text-center">
                    <div class="d-grid">
                      <label for="imagen" class="btn btn-outline-dark" id="btnImagen">Subir imagen</label>
                      <input type="file" name="imagen" id="imagen" hidden accept="image/*" />
                      <span class="text-danger" id="imageError">
                        <%= locals.errores && errores.imagen ? errores.imagen.msg : null %>
                      </span>
                    </div>
                 
                  </div>

                  <span class="text-danger" id="errorEmpty">
                    
                  </span>

                  <div class="col-12  mt-4 text-center">
                 
                    <button class="btn btn-outline-dark" type="submit">Agregar producto</button>
                  </div>
                </div>

                </form>
              </div>
            </div>
          </div>
        </div>

      </main>
      <script src="/javascript/productAdd.js"></script>
  </body>

</html>